# Day 2: More working with data
Review from Day 1:

You should have knowledge about the following **R** commands:

1. ```head```
2. ```dim```
3. ```summary```
4. ```range```
5. Also know how to create a new column from other columns (```mutate```).
6. Create a column that expresses TRUE an FALSE data.
7. Create a scatterplot


In this lesson you will learn how to:

1. Create a histogram
2. Create a boxplot
3. Find the standard deviation
4. Calculate z-scores
5. Sort a Dataframe
6. Filter a Dataframe


First we need to load the helpful libraries of ```dplyr``` and ```ggplot2```. We will do this everytime we start working with **R**. We need those libraries!

```
library(dplyr)
library(ggplot2)
```

In [1]:
library(dplyr)
library(ggplot2)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Let's first load some data. **R** comes with several datasets lets look at the ```mtcars``` data set. Do this with the ```data``` command:

```data(mtcars)```

In [2]:
data(mtcars)

Let's see more about this dataset. Type: 

```
?mtcars
head(mtcars)
dim(mtcars)
```

In [3]:
?mtcars
head(mtcars)
dim(mtcars)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225,105,2.76,3.460,20.22,1,0,3,1

One thing that we saw yesterday was the power that **R** had to compute 5-number summaries. Let's try that not a single column, but on the whole dataframe this time. Creating summaries is an important way to understand the data that you are looking at. It gives the range and the typical numbers (mean and median), but also give a sense of the variation with the inclusion of Q1 and Q3. 

```
summary(mtcars)
```

In [4]:
summary(mtcars)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

## Creating a Histogram

We can use the graphing capability of **R** to create histograms of any of the quantitative information in our data frame. So let's create a histogram of the fuel efficiencies of the cars listed in our data. The fuel efficiency is in the ```mpg``` field of our data frame. 

To make a histogram in **R** we use the command:

```
ggplot(data=mtcars, aes(mpg)) + 
  geom_histogram(breaks=seq(10,40,2.5))
  ```
The ```breaks=seq(10,40, 2.5)``` command sets up the bins of the histogram. The way that works is that the first number in the ```seq``` command is the left most x coordinate of the histogram and the second number is the right endpoint of the x-axis. The third number is the width of each bin. 

**Exercise** Try changing the 2.5 to see how the histogram changes.

**Analysis:** And then describe the distribution of fuel efficiencies. Discuss the shape center and spread of the data.

In [7]:
ggplot(data=mtcars, aes(mpg)) + 
  geom_histogram(breaks=seq(10,40,10))

Write in here about **Center, Shape, and Spread** of the mileage. ***Answer:*** The typical mileage is around 16 to 18. The mileage is distributed in skew right (or symmetric) unimodal fashion. The range is from 10 to 35.

## Creating Boxplots

Five number summaries are great, but a boxplot is a lot more helpful to really visualizing the data, and getting a sense if the data is skewed or symmetric. Boxplots are also very useful in determining if there are any outliers. As usual we will be using commands that are derived from the _ggplot2_ library. 

```
ggplot(mtcars, aes( y=mpg)) + 
  geom_boxplot()
  ```

In [8]:
ggplot(mtcars, aes( y=mpg)) + 
  geom_boxplot()

We can breakdown by a categorical variable as well to create a comparative boxplot.

```
ggplot(mtcars, aes(x=carb, y=mpg, group=carb)) + 
  geom_boxplot()

In [11]:
ggplot(mtcars, aes(x=carb, y=mpg, group=carb)) + 
  geom_boxplot()

**Analysis:** Take a moment and compare and contrast the distribution of fuel economy based on the number of cylinders a car has. Describe the shape center and spread of 4, 6, and 8 cylinder cars.

**Analysis:** What is going on here. What is the connection between carburetors and mileage????

## Calculate Standard Deviation and z-scores

Because **R** is a statistics programming environment. It naturally has functions that calculate the standard deviation. If we want to determine the standard deviation of a variable in our data set we simply use the function ```sd```. For example:

```
sd(mtcars$mpg)
```

In [14]:
sd(mtcars$mpg)
mean(mtcars$mpg)

### z-scores

To transform a vector of values to it's z-scores you can utilize ```mean``` and ```sd``` fucntions together. For instance if I would like to add a column to my data frame that had the standardized fuel economies. I could do the following:

```
mtcars <- mtcars %>%
  mutate(zmpg = (mpg-mean(mpg)) / sd(mpg))
head(mtcars)
  ```

In [15]:
mtcars <- mtcars %>%
  mutate(zmpg = (mpg-mean(mpg)) / sd(mpg))
head(mtcars)

mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,zmpg
21.0,6,160,110,3.90,2.620,16.46,0,1,4,4,0.1508848
21.0,6,160,110,3.90,2.875,17.02,0,1,4,4,0.1508848
22.8,4,108,93,3.85,2.320,18.61,1,1,4,1,0.4495434
21.4,6,258,110,3.08,3.215,19.44,1,0,3,1,0.2172534
18.7,8,360,175,3.15,3.440,17.02,0,0,3,2,-0.2307345
18.1,6,225,105,2.76,3.460,20.22,1,0,3,1,-0.3302874

## Sort a Data Frame

Although sorting isn't always very necessary in a data frame (we are much more likely to make a graph that will allow us to see the whole dataset) it might be good to be able to order it in some cases. Let's try to order the ```mtcars``` data frame by horsepower. This can be done using the ```arrange``` command. 

```
mtcars<-arrange(mtcars, hp)
head(mtcars)
```

In [16]:
mtcars<-arrange(mtcars, hp)
head(mtcars)

mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,zmpg
30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,1.7105465
24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,0.7150178
33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2.2912716
32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2.0423894
27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,1.1961900
26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,0.9804921

### Arrange in descending order

If you want to arrange the data frame so that the biggest numbers are at the top, you use the ```desc``` command on the variable in question.

```
mtcars<-arrange(mtcars, desc(hp))
head(mtcars)
```

In [17]:
mtcars<-arrange(mtcars, desc(hp))
head(mtcars)

mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,zmpg
15.0,8,301,335,3.54,3.570,14.60,0,1,5,8,-0.8446439
15.8,8,351,264,4.22,3.170,14.50,0,1,5,4,-0.7119067
14.3,8,360,245,3.21,3.570,15.84,0,0,3,4,-0.9607889
13.3,8,350,245,3.73,3.840,15.41,0,0,3,4,-1.1267104
14.7,8,440,230,3.23,5.345,17.42,0,0,3,4,-0.8944204
10.4,8,460,215,3.00,5.424,17.82,0,0,3,4,-1.6078826

In [18]:
ggplot(data = mtcars, aes(x = hp, y = mpg)) +
  geom_point()

## Filter a Data Frame to make a new smaller Data Frame

Many times it is important to look not at all the data but just a particular subset of the data. Now, we will show you how to create new data frames from old by filtering out particular rows that satisfy certain descriptions.

In the ```mtcars``` data frame we have some cars that have automatic transmissions. Every car that has an automatics transmission has a 1 in ```mtcars$am```:

```
autotransmission <- filter(mtcars, am==1)
dim(autotransmission)
head(autotransmission)
```

In [19]:
autotransmission <- filter(mtcars, am==0)
dim(autotransmission)
head(autotransmission)

mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,zmpg
14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,-0.9607889
13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,-1.1267104
14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,-0.8944204
10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,-1.6078826
10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,-1.6078826
16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,-0.6123539

We see that we have only cars that have ```am==1```. You need to notice that we use **two** equals signs. This is a common thing in programming. It turns out that double equals means that we are asking the question if two things are equal, and that a single equals means that we are telling the computer that two things are to be made equal.

## Your turn to investigate

Let's load up the ```starwars``` data set. I will ask you a series of questions to see how well you have caught on to the lessons of Day One and Two. ***Good Luck!!!***

Start by loading up the data set, and looking a the key for the variable names.

```
data(starwars)
```

In [20]:
data(starwars)


    <em><span style="color:blue">Question 1:</span></em> How many variables are in this dataframe and how many rows are there?

<em><span style="color:blue">Question 2:</span></em> Create a display that shows the distribution of heights among Star Wars characters, and find the 5 number summary of the heights. Then **describe** the shape, center, and spread of the heights.

<em><span style="color:blue">Question 3:</span></em> Create a new variable that calculates a Body Mass Index, ```BMI```, for the characters by calculating the mass divided by the height for all the characters and then display a boxplot of those values.

<em><span style="color:blue">Question 4:</span></em> Order the data frame by the ```BMI``` to determine the character identity with the large outlier **BMI**. Write the identity in a markdown box below.

<em><span style="color:blue">Question 5:</span></em> Create a 5 number summary and the a boxplot showing the ```BMI``` of just the human characters.