In [1]:
library(ggplot2) 
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
data<-read.csv("prop.csv")

In [3]:
str(data)
head(data)

'data.frame':	120 obs. of  15 variables:
 $ Burns    : int  12 17 6 19 17 11 12 19 12 17 ...
 $ Deluca   : logi  NA NA NA NA NA NA ...
 $ Juma     : int  10 15 24 12 16 15 11 21 8 11 ...
 $ Kassinove: int  14 12 11 11 13 12 8 15 14 18 ...
 $ Knaus    : int  12 18 14 11 20 11 12 17 15 14 ...
 $ Nzeako   : int  14 12 10 11 12 12 9 12 13 15 ...
 $ Offenberg: int  12 21 9 9 11 11 21 9 19 16 ...
 $ Peters   : int  12 18 14 11 20 11 12 17 15 14 ...
 $ Polansky : int  18 17 12 13 14 10 13 14 14 15 ...
 $ Propper  : int  17 13 12 15 12 14 15 14 14 14 ...
 $ Sanborn  : int  10 11 11 16 11 13 13 14 11 12 ...
 $ Silich   : int  14 14 14 20 17 14 21 16 20 16 ...
 $ Wareck   : int  17 17 12 21 21 9 15 16 19 14 ...
 $ X        : logi  NA NA NA NA NA NA ...
 $ Combined : int  12 17 6 19 17 11 12 19 12 17 ...

Burns,Deluca,Juma,Kassinove,Knaus,Nzeako,Offenberg,Peters,Polansky,Propper,Sanborn,Silich,Wareck,X,Combined
12,NA,10,14,12,14,12,12,18,17,10,14,17,NA,12
17,NA,15,12,18,12,21,18,17,13,11,14,17,NA,17
6,NA,24,11,14,10,9,14,12,12,11,14,12,NA,6
19,NA,12,11,11,11,9,11,13,15,16,20,21,NA,19
17,NA,16,13,20,12,11,20,14,12,11,17,21,NA,17
11,NA,15,12,11,12,11,11,10,14,13,14,9,NA,11

In [19]:
data <- data %>%
mutate (percent= Porportion/200)

In [20]:

str(data)
head(data)

'data.frame':	121 obs. of  2 variables:
 $ Porportion: int  134 119 125 127 128 124 127 112 131 123 ...
 $ percent   : num  0.67 0.595 0.625 0.635 0.64 0.62 0.635 0.56 0.655 0.615 ...

Porportion,percent
134,0.670
119,0.595
125,0.625
127,0.635
128,0.640
124,0.620

In [4]:
ggplot(data, aes(x=Combined)) + geom_dotplot(binaxis='x') +
  scale_y_continuous(NULL, breaks = NULL)

`stat_bindot()` using `bins = 30`. Pick better value with `binwidth`.

WARNING: Some output was deleted.

In [24]:
mean(data$Normal)

In [25]:
sd(data$Normal)

In [12]:
sqrt(9)

In [13]:
2*sqrt(.64*(1-.64)/200)

In [14]:
2*sqrt(.64*(1-.64)/50)